{% extends 'admin/main.html' %}
{% block title %}School Management System{% endblock %}
{% block left %}Dashboard{% endblock %}
{% block cente %}
<input class="form-control"  type="text" name="search" placeholder="search">
<button type="button" class="btn btn-primary">Search</button>
{% endblock %}
{% block right %}<p > <a href="#">home </a></p>{% endblock %}
{% block content %}
<div class="frow1">
    <div class="row ">
        <div class="col-md-3 ">
            <div class="box">
                <i class="fa fa-users box-i"></i>
                <p>67<br/> <span>students</span> </p>
                
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="box">
                <i class="fa fa-users box-i"></i>
                <p>67<br/> <span>Teachers</span> </p>
                
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="box">
                <i class="fa fa-users box-i"></i>
                <p>67<br/> <span>Administrators</span> </p>
                
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="box">
                <i class="fa fa-users box-i"></i>
                <p>67<br/> <span>Support stuff</span> </p>
                
            </div>
        </div>
    </div>
</div>
<div class="frow1">
    <div class="row ">
        <div class="col-md-3 ">
            <div class="box">
                <i class="fa fa-users box-i"></i>
                <p>67<br/> <span>Secretaries</span> </p>
                
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="box">
                <i class="fa fa-users box-i"></i>
                <p>67<br/> <span>D.O.S</span> </p>
                
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="box">
                <i class="fa fa-users box-i"></i>
                <p>67<br/> <span>Bursars</span> </p>
                
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="box">
                <i class="fa fa-users box-i"></i>
                <p>67<br/> <span>students</span> </p>
                
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}