{% extends 'secretary/main.html' %}
{% block title %}School Management System{% endblock %}
{% block left %}Secretary{% endblock %}
{% block cente %}search{% endblock %}
{% block right %}<p > <a href="#">home </a></p>{% endblock %}
{% block content %}
<div class="frow1">
    <div class="row ">
        <div class="col-md-3 ">
            <div class="box">
                <p>Senior one </p>
                <p>67<span>students</span> </p>
                
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="box">
                <p>Senior two </p>
                <p>67 <span>students</span> </p>
                
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="box">
                <p>Senior three </p>
                <p>67 <span>students</span> </p>
                
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="box">
                <p>Senior four </p>
                <p>67 <span>students</span> </p>
                
            </div>
        </div>
    </div>
</div>
<div class="frow1">
    <div class="row ">
        <div class="col-md-3 ">
            <div class="box">
                <p>Senior five </p>
                <p>67 <span>students</span> </p>
                
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="box">
                <p>Senior six </p>
                <p>67 <span>students</span> </p>
                
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}